.appliedBody {
    background-color: black;
    color: white;
}
.logo img {
    max-height: 100px;
}
nav {
    background-color: #754cbb;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.btn {
    background-color: #ee2e31;
    border-color: #ee2e31;
}
nav .btn {
    height: 50%;
}
main {
    margin: 40px auto;
}
.intro {
    margin-bottom: 40px;
}
.coverPhoto img {
    object-fit: cover;
}
input,
.input-group label {
    margin: 20px auto;
}
